streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
xgboost
plotly
qrcode[pil]
Pillow
transformers
torch
tensorflow
PyPDF2
pdfplumber
pymupdf
python-docx
wordcloud
openai
langchain
langchain-community
openpyxl
sentence-transformers
sentencepiece
faiss-cpu
nltk
protobuf
sumy
langdetect
