fastapi
uvicorn
langchain
openai
pydantic
langchain-community
joblib
scikit-learn
pandas
matplotlib
seaborn
yfinance
plotly
numpy
scipy
xgboost
lightgbm
imbalanced-learn
statsmodels
lime
shap
streamlit
openpyxl
requests
